<% provide(:title, @user.name) %>
<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
  <%= gravatar_for @user %>
<%=@user.name%>
<%=@user.email%>
<%=link_to "edit",users_edit_path %>
<%=link_to "back",users_index_path%>